---
interface Props{
    preTitle: string;
    title: string;
    href?: string;
}
const { preTitle, title, href="#" } = Astro.props;
---

<li>
    <a href={href}>
        <span>{preTitle}</span>
        <span>{title}</span>
    </a>
    <div class="dot"></div>
</li>

<style>
    li{
        position: relative;
    }
    .dot{
        position: absolute;
        width: 4px;
        height: 4px;
        background-color: red;
        right: 0;
        top: 0;
        border-radius: 100%;
    }
    a {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 0px 10px;
        text-decoration: none;
        color: black;
    }
    a span:first-child{
        font-weight: 300;
    }

    a span:last-child{
        font-weight: bold;
    }
</style>